<table
  class="ac-table ac-table-columns ac-table-rows ac-table-full-width"
  cellspacing="0"
  cellpadding="0"
>
  <thead>
    <tr>
      <th scope="row">LOCATION</th>
      <th>Local baggage services contact numbers</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">ANU - Antigua</th>
      <td>(268) 484-1304</td>
    </tr>
    <tr>
      <th scope="row">AUA - Aruba</th>
      <td>(297) 593-1020</td>
    </tr>
    <tr>
      <th scope="row">AZS - Samana El Catey, Dominican Republic</th>
      <td>
        Samana El Catey Tel: (809) 461-4332 Punta Cana Tel: (829) 755-1374 Tel:
        (829) 755-1369 Puerto Plata Tel: (829) 669-6556
      </td>
    </tr>
    <tr>
      <th scope="row">BDA - Bermuda, Bermuda</th>
      <td>(441) 293-0794</td>
    </tr>
    <tr>
      <th scope="row">BGI - Bridgetown, Barbados</th>
      <td>(246) 428-1635 - option 4</td>
    </tr>
    <tr>
      <th scope="row">BOG - Bogota, Colombia</th>
      <td>(571) 756-9825</td>
    </tr>
    <tr>
      <th scope="row">BZE - Belize City, Belize</th>
      <td>(501) 225-4913</td>
    </tr>
    <tr>
      <th scope="row">CCC - Cayo Coco, Cuba</th>
      <td>53 33 30 9128</td>
    </tr>
    <tr>
      <th scope="row">CTG - Cartagena, Colombia</th>
      <td>5731-035-2207</td>
    </tr>
    <tr>
      <th scope="row">CUN - Cancun, Mexico</th>
      <td>
        Mexico City Tel: 52-55-2599-0071 Cancun Tel: 52-998-886-0214 Cozumel
        Tel: 52 987 869 1954 Huatulco Tel: 52 958 581 9254 Puerto Vallarta Tel:
        52 998 277 3132 San José del Cabo Tel: 624-146 5097 / 624-146-5098
        Ixtapa Tel: 52 755 554 2237 Ext 3174
      </td>
    </tr>
    <tr>
      <th scope="row">CUR - Curacao, Curacao</th>
      <td>+599 670-1297</td>
    </tr>
    <tr>
      <th scope="row">CZM - Cozumel, Mexico</th>
      <td>
        Mexico City Tel: 52-55-2599-0071 Cancun Tel: 52-998-886-0214 Cozumel
        Tel: 52 987 869 1954 Huatulco Tel: 52 958 581 9254 Puerto Vallarta Tel:
        52 998 277 3132 San José del Cabo Tel: 624-146 5097 / 624-146-5098
        Ixtapa Tel: 52 755 554 2237 Ext 3174
      </td>
    </tr>
    <tr>
      <th scope="row">EZE - Buenos AiresArgentina</th>
      <td>+54 11 5480 5598</td>
    </tr>
    <tr>
      <th scope="row">FDF - Fort-de-France, Martinique</th>
      <td>
        Tel: 01-84-03-02-48 (within France) Tel: 00-33-1-84-03-02-48 (from
        outside France)
      </td>
    </tr>
    <tr>
      <th scope="row">GCM - Grand Cayman Island, Cayman Island</th>
      <td>(345) 949- 8200</td>
    </tr>
    <tr>
      <th scope="row">GGT - George Town, Bahamas</th>
      <td>(242) 345-0545</td>
    </tr>
    <tr>
      <th scope="row">GND - Grenada</th>
      <td>473-439-0681</td>
    </tr>
    <tr>
      <th scope="row">GRU- Sao Paulo, Brazil</th>
      <td>5511 2445 3717</td>
    </tr>
    <tr>
      <th scope="row">HAV - Havana, Cuba</th>
      <td>(537) 836-3228</td>
    </tr>
    <tr>
      <th scope="row">HOG - Holguin, Cuba</th>
      <td>53 24 474706</td>
    </tr>
    <tr>
      <th scope="row">HUX - Huatulco, Mexico</th>
      <td>
        Mexico City Tel: 52-55-2599-0071 Cancun Tel: 52-998-886-0214 Cozumel
        Tel: 52 987 869 1954 Huatulco Tel: 52 958 581 9254 Puerto Vallarta Tel:
        52 998 277 3132 San José del Cabo Tel: 624-146 5097 / 624-146-5098
        Ixtapa Tel: 52 755 554 2237 Ext 3174
      </td>
    </tr>
    <tr>
      <th scope="row">KIN - Kingston, Jamaica</th>
      <td>
        Kingston, Jamica Tel: (876) 924-8363 Montego Bay Tel: (876) 952-5162
      </td>
    </tr>
    <tr>
      <th scope="row">LIM - Lima, Peru</th>
      <td>
        Talma Servicios Aeroportuarios Tel: 511-5173217 Email
        administrativo.aircanada@talma.com.pe
      </td>
    </tr>
    <tr>
      <th scope="row">LIR - Liberia, Costa Rica</th>
      <td>+506 26680200</td>
    </tr>
    <tr>
      <th scope="row">MBJ - Montego Bay, Jamaica</th>
      <td>
        Kingston, Jamica Tel: (876) 924-8363 Montego Bay Tel: (876) 952-5162
      </td>
    </tr>
    <tr>
      <th scope="row">MEX - Mexico City, Mexico</th>
      <td>
        Mexico City Tel: 52-55-2599-0071 Cancun Tel: 52-998-886-0214 Cozumel
        Tel: 52 987 869 1954 Huatulco Tel: 52 958 581 9254 Puerto Vallarta Tel:
        52 998 277 3132 San José del Cabo Tel: 624-146 5097 / 624-146-5098
        Ixtapa Tel: 52 755 554 2237 Ext 3174
      </td>
    </tr>
    <tr>
      <th scope="row">NAS - Nassau, Bahamas</th>
      <td>(242) 702-7247 Ext 5120</td>
    </tr>
    <tr>
      <th scope="row">PAP - Port-au-Prince, Haiti</th>
      <td>
        Toll Free 1-888-689-2247 - Toll free within North America, 24 hours a
        day, 7 days a week Fax 1-800-237-3563 - Toll free within North America
      </td>
    </tr>
    <tr>
      <th scope="row">PLS - Povidenciales, Turks and Caicos Island</th>
      <td>(649) 941- 7799 Ext 141</td>
    </tr>
    <tr>
      <th scope="row">POP - Puerto Plata, Dominican Republic</th>
      <td>
        Samana El Catey Tel: (809) 461-4332 Punta Cana Tel: (829) 755-1374 Tel:
        (829) 755-1369 Puerto Plata Tel: (829) 669-6556
      </td>
    </tr>
    <tr>
      <th scope="row">POS - Port of Spain, Trinidad and Tobago</th>
      <td>(868) 669-6556</td>
    </tr>
    <tr>
      <th scope="row">PTP - Pointe-à-Pitre, Guadeloupe</th>
      <td>
        Toll Free 1-888-689-2247 - Toll free within North America, 24 hours a
        day, 7 days a week Fax 1-800-237-3563 - Toll free within North America
        Email aircanada@sept.fr
      </td>
    </tr>
    <tr>
      <th scope="row">PTY - Panama City, Panama</th>
      <td>(507) 830-2716</td>
    </tr>
    <tr>
      <th scope="row">PUJ - Punta Cana, Dominican republic</th>
      <td>
        Samana El Catey Tel: (809) 461-4332 Punta Cana Tel: (829) 755-1374 Tel:
        (829) 755-1369 Puerto Plata Tel: (829) 669-6556
      </td>
    </tr>
    <tr>
      <th scope="row">PVR - Puerto Vallarta, Mexico</th>
      <td>
        Mexico City Tel: 52-55-2599-0071 Cancun Tel: 52-998-886-0214 Cozumel
        Tel: 52 987 869 1954 Huatulco Tel: 52 958 581 9254 Puerto Vallarta Tel:
        52 998 277 3132 San José del Cabo Tel: 624-146 5097 / 624-146-5098
        Ixtapa Tel: 52 755 554 2237 Ext 3174
      </td>
    </tr>
    <tr>
      <th scope="row">SCL - Santiago, Chile</th>
      <td>Tel: 56226014208 Email scl.baggage@swissport.com</td>
    </tr>
    <tr>
      <th scope="row">SJD - San José del cabo, Mexico</th>
      <td>
        Mexico City Tel: 52-55-2599-0071 Cancun Tel: 52-998-886-0214 Cozumel
        Tel: 52 987 869 1954 Huatulco Tel: 52 958 581 9254 Puerto Vallarta Tel:
        52 998 277 3132 San José del Cabo Tel: 624-146 5097 / 624-146-5098
        Ixtapa Tel: 52 755 554 2237 Ext 3174
      </td>
    </tr>
    <tr>
      <th scope="row">SJO - San José, Costa Rica</th>
      <td>506 8554 8271</td>
    </tr>
    <tr>
      <th scope="row">SJU - San Juan, Puerto Rico</th>
      <td>(787) 791-8181</td>
    </tr>
    <tr>
      <th scope="row">SKB - St. Kitts, St. Kitts and Nevis</th>
      <td>(869) 465-8200</td>
    </tr>
    <tr>
      <th scope="row">SNU - Santa Clara, Cuba</th>
      <td>
        Toll Free 1-888-689-2247 - Toll free within North America, 24 hours a
        day, 7 days a week Fax 1-800-237-3563 - Toll free within North America
      </td>
    </tr>
    <tr>
      <th scope="row">SVD - St. Vincent, st. Vincent and the Grenadines</th>
      <td>(784) 456-5555 Ext 1034</td>
    </tr>
    <tr>
      <th scope="row">SXM - St. Maarten, Sint Maarten (France)</th>
      <td>
        Toll Free 1-888-689-2247 - Toll free within North America, 24 hours a
        day, 7 days a week Fax 1-800-237-3563 - Toll free within North America
      </td>
    </tr>
    <tr>
      <th scope="row">UIO - Quito, Ecuador</th>
      <td>+593 95889133</td>
    </tr>
    <tr>
      <th scope="row">UVF - St. Lucia,</th>
      <td>(758) 459-6500</td>
    </tr>
    <tr>
      <th scope="row">VRA - Varadero, Cuba</th>
      <td>53 45 253601</td>
    </tr>
    <tr>
      <th scope="row">ZIH - Ixtapa, Mexico</th>
      <td>
        Mexico City Tel: 52-55-2599-0071 Cancun Tel: 52-998-886-0214 Cozumel
        Tel: 52 987 869 1954 Huatulco Tel: 52 958 581 9254 Puerto Vallarta Tel:
        52 998 277 3132 San José del Cabo Tel: 624-146 5097 / 624-146-5098
        Ixtapa Tel: 52 755 554 2237 Ext 3174
      </td>
    </tr>
    <tr>
      <th scope="row">ZSA - San salvador, Bahamas</th>
      <td>
        Toll Free 1-888-689-2247 - Toll free within North America, 24 hours a
        day, 7 days a week Tel 3777-7035 - in the Bahamas Fax 1-800-237-3563 -
        Toll free within North America
      </td>
    </tr>
  </tbody>
</table>
